<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
	     <!--Run using Oracle Datasource  -->
		<!--  This will change to the JNDI. I have kept the connection details here for the test cases. We will Abstract this at a later stage-->
	    <property name="connection.datasource">java:jboss/datasources/DMCSDb</property> 
	   
		<!-- Run Using Mysql -->
		<!-- <property name="connection.datasource">java:jboss/datasources/DMCSDbMySql</property> -->
		
		<!-- Uncomment to run local using main method -->
       <!-- <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@//sdr-clstr1-scan:1521/cccjd</property>
        <property name="hibernate.connection.username">CCCOWNER</property>
        <property name="hibernate.connection.password">Cc##Own3r</property>
        <property name="hibernate.hbm2ddl.auto">update</property> -->
        
        <!--<property name="show_sql">false</property> 
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.connection.provider_class">org.hibernate.connection.C3POConnectionProvider</property>
        <property name="hibernate.connection.release_mode">after_transaction</property> -->
        
        <!-- Entity Mapping starts here -->
		<mapping class="com.bsva.entities.CisBins" />
		<mapping class="com.bsva.entities.CsfBins" />
		<mapping class="com.bsva.entities.CsfAsciiEbcdic" />
		<mapping class="com.bsva.entities.CsfCardFeeBilateral" />
		<mapping class="com.bsva.entities.CsfCardFeeBilateralPK" />
		<mapping class="com.bsva.entities.CsfCardTypes" />
		<mapping class="com.bsva.entities.CsfCompanyParameters" />
		<mapping class="com.bsva.entities.CsfDeliveryServices" />
		<mapping class="com.bsva.entities.CsfDirectories" />
		<mapping class="com.bsva.entities.CsfDistributionParameters" />
		<mapping class="com.bsva.entities.CsfDistributionParametersPK" />
		<mapping class="com.bsva.entities.CsfErrorCodes" />
		<mapping class="com.bsva.entities.CsfFilenameLookup" />
		<mapping class="com.bsva.entities.CsfInputFileFields" />
		<mapping class="com.bsva.entities.CsfMastercardOptions" />
		<mapping class="com.bsva.entities.CsfMembers" />
		<mapping class="com.bsva.entities.CsfMemberService" />
		<mapping class="com.bsva.entities.CsfMemberServicePK" />
		<mapping class="com.bsva.entities.CsfProcessSchedule" />
		<mapping class="com.bsva.entities.CsfPublicHolidays" />
		<mapping class="com.bsva.entities.CsfReportNames" />
		<mapping class="com.bsva.entities.CsfServices" />
		<mapping class="com.bsva.entities.CsfServicesPK" />
		<mapping class="com.bsva.entities.CsfStatusCodes" />
		<mapping class="com.bsva.entities.CsfSubServices" />
		<mapping class="com.bsva.entities.CsfSubServicesPK" />
		<mapping class="com.bsva.entities.CsfSystemService" />
		<mapping class="com.bsva.entities.CsfSystemSettings" />
		<mapping class="com.bsva.entities.CsfTransactionTypes" />
		<mapping class="com.bsva.entities.CsoInputFileControls" />
		<mapping class="com.bsva.entities.CsoNegcardInfo" />
		<mapping class="com.bsva.entities.CsoNegcardInfoPK" />
		<mapping class="com.bsva.entities.CsoOdsFileToLoad" />
		<mapping class="com.bsva.entities.CsoOutputControls" />
		<mapping class="com.bsva.entities.CsoPaymentInstructionsMcard" />
		<mapping class="com.bsva.entities.CsoPaymentInstructionsMcardPK" />
		<mapping class="com.bsva.entities.CsoPaymentInstructionsVisa" />
		<mapping class="com.bsva.entities.CsoPaymentInstructionsVisaPK" />
		<mapping class="com.bsva.entities.CsoPaymentMcardPds" />
		<mapping class="com.bsva.entities.CsoPaymentMcardPdsPK" />
		<mapping class="com.bsva.entities.CsoProgramControls" />
		<mapping class="com.bsva.entities.CsoProgramControlsPK" />
		<mapping class="com.bsva.entities.CsoScheduledProcesses" />
		<mapping class="com.bsva.entities.CsoScheduleTimes" />
		<mapping class="com.bsva.entities.CsoScheduleTimesPK" />
		<mapping class="com.bsva.entities.CsoSeqNumbers" />
		<mapping class="com.bsva.entities.CsoSeqNumbersPK" />
		<mapping class="com.bsva.entities.CsoServiceParameters" />
		<mapping class="com.bsva.entities.CsoServiceParametersPK" />
		<mapping class="com.bsva.entities.CsoSystemControls" />
		<mapping class="com.bsva.entities.CsoSystemControlsPK" />
		<mapping class="com.bsva.entities.CsoSystemParameters" />
		<mapping class="com.bsva.entities.CsoTransactions" />
		<mapping class="com.bsva.entities.CsoZ1Z9InputOutputs" />
		<mapping class="com.bsva.entities.DelDeliveryFilesCcc" />
		<mapping class="com.bsva.entities.DelDeliveryFilesCccPK" />
		<mapping class="com.bsva.entities.SiteControls" />
		<mapping class="com.bsva.entities.DelDeliveryFilesCcc" />
		<mapping class="com.bsva.entities.DelDeliveryFilesCccPK" />
		<mapping class="com.bsva.entities.CsvCcr00xDataView" />
		<mapping class="com.bsva.entities.CsvCcr00xDataViewPK" />
		<mapping class="com.bsva.entities.CsvCcr015View_PK" />
		<mapping class="com.bsva.entities.CsvCcr015View" />
		<mapping class="com.bsva.entities.CsoFleetBilling" />
		<mapping class="com.bsva.entities.CsvFleetBillView" />
		<mapping class="com.bsva.entities.CsvFleetBillViewPK" />
		<mapping class="com.bsva.entities.CsoFleetBindResolved" />
		<mapping class="com.bsva.entities.CsoFleetBindResolvedPK" />
		<mapping class="com.bsva.entities.CsfCardRateLookup"/>
		<mapping class="com.bsva.entities.CsfCardRateLookupPK"/>
		<mapping class="com.bsva.entities.CsfCardFeeSarbBilling"/>
		<mapping class="com.bsva.entities.CsvSarbBillingView"/>
		<mapping class="com.bsva.entities.CsoSpolog"/>
		<mapping class="com.bsva.entities.DmcsSeqStore" />
		<mapping class="com.bsva.entities.CsfMemberService" />
		<mapping class="com.bsva.entities.CsfMemberServicePK" />
		<mapping class="com.bsva.entities.v02.billing.BillingRateDescriptor"/>
		<mapping class="com.bsva.entities.v02.billing.BillingKey"/>
		<mapping class="com.bsva.entities.v02.billing.BillingRate"/>
		<mapping class="com.bsva.entities.v02.commons.CardTypeEntity"/>
		<mapping class="com.bsva.entities.v02.params.CompanyParametersEntity"/>
		<mapping class="com.bsva.entities.v02.commons.DeliveredFile"/>
		<mapping class="com.bsva.entities.v02.params.Directory"/>
		<mapping class="com.bsva.entities.v02.params.DirectoryKey"/>
		<mapping class="com.bsva.entities.v02.members.MemberBinInfo"/>
		<mapping class="com.bsva.entities.v02.loader.SequenceEntity"/>
		<mapping class="com.bsva.entities.v02.loader.ServiceTypeEntity"/>
		<mapping class="com.bsva.entities.v02.params.SystemParametersEntity"/>
		<mapping class="com.bsva.entities.v02.commons.TxnTypeEntity"/>
		<mapping class="com.bsva.entities.v02.outputcontrols.OutputControlEntity"/>
		<mapping class="com.bsva.entities.v02.outputcontrols.OutputControlKey"/>
		<mapping class="com.bsva.entities.v02.members.MemberParamsEntity"/>
		<mapping class="com.bsva.entities.v02.members.MemberParamKey"/>
		<mapping class="com.bsva.entities.v02.loader.LastSeqNumberEntity"/>
		<mapping class="com.bsva.entities.v02.loader.LastSeqNumberKey"/>
		<mapping class="com.bsva.entities.v02.billing.CardFeeBilateralRateEntity"/>
		<mapping class="com.bsva.entities.v02.billing.BilateralBillingKey"/>
		<mapping class="com.bsva.entities.v02.members.MemberEntity"/>
		<mapping class="com.bsva.entities.v02.members.MembersExtractEntity"/>
		<mapping class="com.bsva.entities.v02.loader.PendingFileCountEntity"/>
		<mapping class="com.bsva.entities.v02.params.PublicHolidayEntity"/>
		<mapping class="com.bsva.entities.v02.params.ScheduleTimeEntity"/>
		<mapping class="com.bsva.entities.v02.commons.ErrorEntity"/>
		<mapping class="com.bsva.entities.v02.outputcontrols.OutputFileEntity"/>
		<mapping class="com.bsva.entities.v02.outputcontrols.OutputFileKey"/>
		<mapping class="com.bsva.entities.v02.commons.EndOfDayFlagEntity"/>
		<mapping class="com.bsva.entities.v02.loader.FileDetailEntity"/>
		<mapping class="com.bsva.entities.v02.commons.EndOfDayFlagEntity"/>
		<mapping class="com.bsva.entities.v02.loader.FileDetailEntity"/>
		<mapping class="com.bsva.entities.CsvDefaultFilesView"/>
		<mapping class="com.bsva.entities.CsvDefaultFilesViewPK"/>
		<mapping class="com.bsva.entities.v02.settlement.CCR00XDataEntity"/>
		<mapping class="com.bsva.entities.v02.commons.TxnGroupCodeEntity"/>
		<mapping class="com.bsva.entities.v02.settlement.CCR00XDataKey"/>
		<mapping class="com.bsva.entities.v02.commons.ProgramAlreadyRunFlagEntity"/>
		<mapping class="com.bsva.entities.v02.loader.FilenamePrefixEntity"/>
		<mapping class="com.bsva.entities.v02.members.MemberTapeIDEntity"/>
		<mapping class="com.bsva.entities.v02.members.MemberAddressEntity"/>
		<mapping class="com.bsva.entities.v02.loader.FilePDSEntity"/>
		<mapping class="com.bsva.entities.v02.settlement.CsoTransactionsEntity"/>
		<mapping class="com.bsva.entities.v02.settlement.CCR00XSummaryDataEntity"/>
		<mapping class="com.bsva.entities.v02.settlement.CCR00XFinalTotalsDataKey"/>
		<mapping class="com.bsva.entities.v02.settlement.CCR00XFinalTotalsDataEntity"/>
		<mapping class="com.bsva.entities.v02.endofservice.SubServiceStatusKey"/>
		<mapping class="com.bsva.entities.v02.endofservice.SubServiceStatusEntity"/>
		<mapping class="com.bsva.entities.v02.settlement.CCR00XFinalTotalsDataEntity"/>
		<mapping class="com.bsva.entities.v02.endofservice.AcquirerIssuerDayTotalEntity"/>
		<mapping class="com.bsva.entities.v02.endofservice.AcquirerIssuerLastFileEntity"/>
		<mapping class="com.bsva.entities.v02.endofservice.AcquirerIssuerLastFileStatusEntity"/>
		<mapping class="com.bsva.entities.v02.settlement.CCR002DataEntity"/>
		<mapping class="com.bsva.entities.v02.settlement.CCR002DataKey"/>
		<mapping class="com.bsva.entities.v02.settlement.AcquirerKey"/>
		<mapping class="com.bsva.entities.v02.settlement.AcquirerEntity"/>
		<mapping class="com.bsva.entities.v02.settlement.IssuerEntity"/>
		<mapping class="com.bsva.entities.v02.settlement.CardTypesEntity"/>
		<mapping class="com.bsva.entities.v02.loader.TxnCodeMappingEntity"/>
		<mapping class="com.bsva.entities.v02.billing.CashbackAcceptorEntity"/>
		<mapping class="com.bsva.entities.v02.billing.FleetBillingTxnEntity"/>
		<mapping class="com.bsva.entities.v02.billing.FleetBillingEntity"/>
		<mapping class="com.bsva.entities.v02.outputcontrols.OutputControlPKey"/>
		<mapping class="com.bsva.entities.v02.outputcontrols.OutputFileControlEntity"/>
		<mapping class="com.bsva.entities.v02.outputcontrols.OutputControlDayTotalEntity"/>
		<mapping class="com.bsva.entities.v02.outputcontrols.LastFileOutputControlEntity"/>
		<mapping class="com.bsva.entities.v02.outputcontrols.LastFileOutputControlKey"/>
		<mapping class="com.bsva.entities.v02.extract.OutputControlsEntity"/>
		<mapping class="com.bsva.entities.v02.extract.OutputFilePK"/>
		<mapping class="com.bsva.entities.v02.billing.CardFeeSARBBillingEntity"/>
		<mapping class="com.bsva.entities.v02.startofday.DefaultOutputFileEntity"/>		
		<mapping class="com.bsva.entities.v02.startofday.DefaultOutputFileKey"/>
		<mapping class="com.bsva.entities.v02.billing.CsfCardTypesDirection"/>
		<mapping class="com.bsva.entities.MemberNegCardEntity"/>
		<mapping class="com.bsva.entities.CsoNegativeCardsEntity"/>
		<mapping class="com.bsva.entities.CsvCcr002View" />
		<mapping class="com.bsva.entities.CsvCcr002View_PK" />
		<mapping class="com.bsva.entities.CssCcr009View"/>
		<mapping class="com.bsva.entities.CssCcr009View_PK"/>
		<mapping class="com.bsva.entities.Css_Stats_View"/>
		<mapping class="com.bsva.entities.Css_Stats_View_PK"/>
		<mapping class="com.bsva.entities.v02.settlement.CsvSettlementView"/>
		<mapping class="com.bsva.entities.v02.settlement.CsvSettlementView_PK"/>
		<mapping class="com.bsva.entities.v02.billing.InputFileControlSummaryEntity" />
		<mapping class="com.bsva.entities.CsvSarbTotals"/>
		<mapping class="com.bsva.entities.CsrMisEntity"/>
		<mapping class="com.bsva.entities.CsrMisEntity_PK" />
		<mapping class="com.bsva.entities.v02.billing.CsfCardTypes_Entity" />
		<mapping class="com.bsva.entities.v02.billing.MemberServiceEntity" />
		<mapping class="com.bsva.entities.v02.CsoBillingSummary" />
		<mapping class="com.bsva.entities.v02.CsoBillingSummaryPK" />
		<mapping class="com.bsva.entities.v02.members.NegCardEntity" />
		<mapping class="com.bsva.dao.v02.fileextract.PaymentInstVISAEntity" />
		<mapping class="com.bsva.entities.v02.members.OutputControllerEntity" />
		<mapping class="com.bsva.entities.v02.endofservice.InputFileControlEntity"/>
		<mapping class="com.bsva.entities.v02.settlement.CsoSettlementMatrixEntity"/>
		<mapping class="com.bsva.entities.v02.settlement.CsoSettlementMatrixEntity_PK"/>
		<mapping class="com.bsva.entities.v02.ChargeBackEntity" />
		<mapping class="com.bsva.entities.v02.ChargeBacksEntity_PK" />
		<mapping class="com.bsva.entities.v02.ChargeBacksVISA" />
		<mapping class="com.bsva.entities.v02.ChargeBacksMcard" />
		<mapping class="com.bsva.entities.v02.ChargeBackVISAEntity" />
		<mapping class="com.bsva.entities.v02.IssuerAcquirerCombEntity" />
		<mapping class="com.bsva.entities.v02.IssuerAcquirerCombPK" />
		<mapping class="com.bsva.entities.v02.IssuerAcquirerEntity" />
		<mapping class="com.bsva.entities.v02.IssuerAcquirerEntity_PK" />
		<mapping class="com.bsva.entities.v02.CsoPaymentVisaEntity" />
		<mapping class="com.bsva.entities.v02.CsoPaymentVisaEntity_PK" />
		<mapping class="com.bsva.entities.v02.CsoPaymentMcardEntity" />
		<mapping class="com.bsva.entities.v02.CsoPaymentMcardEntity_PK" />
		<mapping class="com.bsva.entities.CsfScheduleTimes" />
		<mapping class="com.bsva.entities.CsfScheduleTimesPK"/>
		<mapping class="com.bsva.dao.v02.cisbins.entity.BankCodeEntity"/>
		<mapping class="com.bsva.dao.v02.cisbins.entity.CisBinsEntity"/>
		<mapping class="com.bsva.dao.v02.cisbins.entity.CisBinsCountEntity"/>
		<mapping class="com.bsva.dao.v02.cisbins.entity.CisBinsMemberInfoEntity"/>
		<mapping class="com.bsva.entities.v02.loader.VisaChargeBacksEntity" />
		<mapping class="com.bsva.entities.v02.loader.McardChargeBacksEntity" />
		<mapping class="com.bsva.entities.v02.loader.McardChargeBacksEntity_PK" />
		<mapping class="com.bsva.entities.v02.startofday.CsfBinsEntity" />
        <mapping class="com.bsva.entities.v02.startofday.CsfBinsEntityPK" />
        <mapping class="com.bsva.entities.v02.loader.CsoFileSeqEntity" />
        <mapping class="com.bsva.entities.v02.settlement.CsrlkUpEntity"/>
        <mapping class="com.bsva.entities.v02.settlement.CsrlkUpEntityKey"/>
        <mapping class="com.bsva.entities.v02.settlement.CsrRateEntity"/>
        <mapping class="com.bsva.entities.v02.settlement.CsrRateEntityKey"/>
        <mapping class="com.bsva.entities.v02.startofday.SeqNumberEntity"/>
        <mapping class="com.bsva.entities.v02.startofday.SeqNumberKey"/>
        <mapping class="com.bsva.entities.v02.endofday.MonthEndEntity" />
        <mapping class="com.bsva.entities.v02.endofday.MonthEndEntityKey" />
        <mapping class="com.bsva.entities.Ccr03031McardEntity" />
        <mapping class="com.bsva.entities.Ccr03031VisaEntity" />
        <mapping  class="com.bsva.entities.v02.settlement.CsoCCR030AcqIssEntity" />
        <mapping class="com.bsva.entities.v02.settlement.CsoCCR030AcqIssEntityKey" />
        <mapping class="com.bsva.entities.CSR018019ReportEntity" />
        <mapping class="com.bsva.entities.CSR018019ReportEntityKey" />
        <mapping class="com.bsva.entities.v02.CsoBillingSummary"/>
        <mapping class="com.bsva.entities.v02.CsoBillingSummaryPK"/>
        <mapping class="com.bsva.entities.CsoBillingSummary"/>
        <mapping class="com.bsva.entities.v02.settlement.CCR00XFinalTotalsDataSettleEntity"/>
        <mapping class="com.bsva.entities.v02.settlement.CCR00XFinalTotalsDataSettleKey"/>
	</session-factory>
</hibernate-configuration>  
